<h1> Cab Managment System </h1>

In [1]:
import  mysql.connector

# cloud data
"""
alfa_gama 
"""

'\nalfa_gama \n'

In [2]:
def get_cabs():
    connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
    )
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM cabs")
    final_list = []
    for i in cursor:
        final_list.append(i)
    return final_list

In [8]:
get_cabs()

[('afkhuuj36', 'toyota innova', 'white')]

In [9]:
def update_cab(new_cab_id, cab_model,cab_color,cab_id):
        connector = mysql.connector.connect(
                            host="sql.freedb.tech",
                            user="freedb_shubhanshumishra",
                            password="!ata%t$Fk39QF6!",
                            database="freedb_CabManagment"
                            )
        mycursor = connector.cursor()
        sql = "UPDATE cabs SET cab_registration_number = %s, model = %s, color = %s WHERE cab_registration_number = %s"
        val = (new_cab_id, cab_model , cab_color,cab_id,)
        mycursor.execute(sql, val)
        connector.commit()
        return "succes"

In [10]:
update_cab("UP32AB1234","Maruti","Red","afkhuuj36")

IntegrityError: 1451 (23000): Cannot delete or update a parent row: a foreign key constraint fails (`freedb_CabManagment`.`assignment`, CONSTRAINT `assignment_ibfk_1` FOREIGN KEY (`cab_registration_number`) REFERENCES `cabs` (`cab_registration_number`))

In [7]:
connector = mysql.connector.connect(
    host = "sql.freedb.tech",
    user = "freedb_shubhanshumishra",
    password = "!ata%t$Fk39QF6!"
)

cursor = connector.cursor()
cursor.execute("SHOW DATABASES")
for i in cursor:
    print(i)

('freedb_CabManagment',)
('information_schema',)

In [10]:
import mysql.connector

# Establishing the database connection
connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
)

# Creating a cursor object to execute SQL queries
cursor = connector.cursor()

# Creating the "driver" table
create_table_query = """
CREATE TABLE driver (
    driver_id INT PRIMARY KEY,
    driver_name VARCHAR(255),
    email VARCHAR(255),
    phone_number VARCHAR(20)
)
"""
cursor.execute(create_table_query)

# Committing the changes and closing the cursor and connection
connector.commit()
cursor.close()

In [10]:
import mysql.connector

# Establishing the database connection
connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
)

# Creating a cursor object to execute SQL queries
cursor = connector.cursor()

# Creating the "assignment" table
create_table_query = """
CREATE TABLE assignment (
    cab_registration_number VARCHAR(50),
    driver_id INT,
    name VARCHAR(255),
    FOREIGN KEY (cab_registration_number) REFERENCES cabs(cab_registration_number),
    FOREIGN KEY (driver_id) REFERENCES driver(driver_id)
)
"""
cursor.execute(create_table_query)

# Committing the changes and closing the cursor and connection
connector.commit()
cursor.close()
connector.close()

In [14]:
def add_data(regestration_number, driver_id):
        
    connector = mysql.connector.connect(

        host="sql.freedb.tech",
        user="freedb_shubhanshumishra",
        password="!ata%t$Fk39QF6!",
        database="freedb_CabManagment"
        )
    mycursor = connector.cursor()
    sql = "INSERT INTO assignment (cab_registration_number, driver_id) VALUES (%s, %s)"
    val = (regestration_number,driver_id)
    mycursor.execute(sql, val)
    connector.commit()

In [15]:
add_data("afkhuuj36",12064)

In [7]:
import mysql.connector

# Establishing the database connection
connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
)

# Creating a cursor object to execute SQL queries
cursor = connector.cursor()

# Creating the "cabs" table
create_table_query = """
CREATE TABLE cabs (
    cab_registration_number VARCHAR(50) PRIMARY KEY,
    model VARCHAR(255),
    color VARCHAR(255)
)
"""
cursor.execute(create_table_query)

# Committing the changes and closing the cursor and connection
connector.commit()
cursor.close()
connector.close()

In [11]:
connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
)
cursor = connector.cursor()
cursor.execute("SHOW TABLES")
for i in cursor:
    print(i)

('assignment',)
('cabs',)
('driver',)

In [13]:
def get_driver():
    connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
    )
    cursor = connector.cursor()
    cursor.execute("SELECT * FROM driver")
    final_list = []
    for i in cursor:
        final_list.append(i)
    return final_list

In [14]:
get_driver()

(1234, 'xyz', 'rollsroyace360@gmail.com', '9399725803')
(6969, 'afaaf', 'rollsroyace360@gmail.com', '9399725803')

In [4]:
def get_driver_specific(driver_id):
    connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
    )
    cursor = connector.cursor()
    query = "SELECT * FROM driver WHERE driver_id = %s"
    val = (driver_id,)
    cursor.execute(query, val)

    final_list = []
    for i in cursor:
        final_list.append(i)
    return final_list

In [6]:
def update_driver(driver_id,new_driver_id, driver_name,driver_email, driver_phone):
        connector = mysql.connector.connect(
                            host="sql.freedb.tech",
                            user="freedb_shubhanshumishra",
                            password="!ata%t$Fk39QF6!",
                            database="freedb_CabManagment"
                            )
        mycursor = connector.cursor()
        sql = "UPDATE driver SET driver_id = %s, driver_name = %s, email = %s, phone_number = %s WHERE driver_id = %s"
        val = (int(new_driver_id), driver_name, driver_email, driver_phone, int(driver_id))
        mycursor.execute(sql, val)
        connector.commit()
        return "succes"

update_driver(123456,654321,"xyz","gama@gmail.com",9899912345)

'succes'

In [16]:
import mysql.connector

# Establishing the database connection
connector = mysql.connector.connect(
    host="sql.freedb.tech",
    user="freedb_shubhanshumishra",
    password="!ata%t$Fk39QF6!",
    database="freedb_CabManagment"
)

# Creating a cursor object to execute SQL queries
cursor = connector.cursor()

# Dropping the table
drop_table_query = "DROP TABLE assignment"
cursor.execute(drop_table_query)

# Committing the changes and closing the cursor and connection
connector.commit()
cursor.close()
connector.close()